<div class="indexWines">
    <% if (username) { %>
        <h1><%= username %>'s Wine List:</h1>
    <% } else {%>
        <h1>Wine List:</h1>
    <% } %>

    <form action="/wines/new">
        <input type="submit" value="Creat a New Wine">
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Varietal</th>
                <th>Type</th>
                <th>Price</th>
                <th>Liked</th>
            </tr>
        </thead>
        <tbody>

            <% items.forEach( (item) => { %>
               
                <tr>

                    <td><a href="/wines/<%= item.id %>"> <%= item.name %> </a></td>
                    <td> <%= item.varietal %> </td>
                    <td> <%= item.type %> </td>
                    <td>$ <%= item.pricePaid %> </td>
                    
                    <% if(item.liked === true) { %>
                        <td> Liked: Yes </td>
                    <% } else { %>
                        <td>Liked: No</td>
                    <% } %>
                    

                </tr>
               
            <% }) %>  

        </tbody>
    </table>

</div>