<h1>Hey...good job your "showWine" route is working</h1>

<h2> Name: <%= item.name %> </h2>
<h3> Vineyard: <%= item.vineyard %> </h3>
<h3> Local: <%= item.countryState %> </h3>
<h3> Region: <%= item.region %> </h3>
<h3> Vintage: <%= item.vintage %> </h3>
<h3> Type: <%= item.type %> </h3>
<h3> Varietal: <%= item.varietal %> </h3>
<h3> Price: <%= item.pricePaid %> </h3>
<h3> My Rating: <%= item.rating %> </h3>
<h3> Liked: <%= item.liked %> </h3>
<h3> Tasting Notes: <%= item.tastingNotes %> </h3>
<img>  </h3>
<img src="<%= item.wineImg %>" alt="<%= item.name %>">